.container {
  margin-top: 20px;
}

table {
  width: 100%;
  margin-top: 16px;
}

.mat-header-row, .mat-row {
  height: 48px;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-cell {
  font-size: 14px;
}

button {
  margin-right: 4px;
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}

/* Right-align the button */
.d-flex.justify-content-end {
  display: flex;
  justify-content: flex-end;
}
